// Variables
// *------------------------------------------------*
$color-white: #fff;
$color-black: #161721;
$color-slate: #4d4d4d;
$color-gray: #808080;
$color-tan: #a1b6b4;
$color-sea-green: #ffffff;
$color-light-gray: #b3b3b3;

$radius-3: 3px;
$radius-4: 4px;
$margin-6: 6px;
